.App {
  text-align: center;
}

.recharts-wrapper, .recharts-responsive-container {
  margin: 0 !important;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.recharts-wrapper, .recharts-responsive-container {
  margin: 24px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .wrapper-sm-24 {
    margin: 0 24px !important;
  }
}

@media screen and (min-width: 600px) {
  .wrapper-md-24 {
    margin: 0 24px !important;
  }
}

@media screen and (min-width: 600px) {
  .wrapper-lg-24 {
    margin: 0 24px !important;
  }
}

.wrapper-24 {
  margin: 0 24px !important;
}

.wrapper-48 {
  margin: 0 48px !important;
}


/*, .monthYearContainer*/